@model pizzaClient.Models.Order

@{
    ViewData["Title"] = "InitiateOrder";
}
<head>
    <style>
        .field-validation-valid {
            display: none;
        }
        .validation-summary-valid {
            display: none;
        }
    </style>
    <link href="~/css/Style.css" rel="stylesheet" />
</head>
<div class="bg-white m-4 p-4 rounded">
    <h1 class="text-center">Order Details</h1>
    <hr />
    <form asp-action="Confirm">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CustomerName" class="control-label"></label><sup class="text-danger">&nbsp;*</sup>
                    <input asp-for="CustomerName" class="form-control" placeholder="Enter Customer Name"/>
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerPhone" class="control-label"></label><sup class="text-danger">&nbsp;*</sup>
                    <input asp-for="CustomerPhone" class="form-control" placeholder="Enter Mobile Number"/>
                    <span asp-validation-for="CustomerPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label><sup class="text-danger">&nbsp;*</sup>
                    <input asp-for="Address" class="form-control" placeholder="Enter Address"/>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    @Html.HiddenFor(m => m.Amount)
                    (&#x20B9;)<input asp-for="Amount" class="form-control" disabled />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryDate" class="control-label"></label><sup class="text-danger">&nbsp;*</sup>
                    <input asp-for="DeliveryDate" class="form-control" />
                    <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="City" class="control-label"></label><sup class="text-danger">&nbsp;*</sup>
                        <input asp-for="City" class="form-control" placeholder="Enter Area/City" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Pincode" class="control-label"></label><sup class="text-danger">&nbsp;*</sup>
                            <input asp-for="Pincode" class="form-control" placeholder="Enter Pincode" />
                            <span asp-validation-for="Pincode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Pizza Name</th>
                            <th>Pizza Price</th>
                            <th>Quantity</th>
                            <th>Toppings</th>
                            <th>Crust Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            for (var i = 0; i < Model.orderDetails.Count; i++)
                            {
                                <tr id="orderDetails">
                                    @Html.HiddenFor(m => m.orderDetails[i].pizzaId)
                                    <td>
                                        @Model.orderDetails[i].PizzaName
                                        @Html.HiddenFor(m => m.orderDetails[i].PizzaName)
                                    </td>
                                    <td>
                                        &#x20B9;@Model.orderDetails[i].Price
                                        @Html.HiddenFor(m => m.orderDetails[i].Price, new { @id = "Price" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.orderDetails[i].Quantity, new { @id = "Quantity", @min = "1", @max = "10", @type = "number", @class = "form-control", @onchange = "calculate();" })
                                        @Html.ValidationMessageFor(m => m.orderDetails[i].Quantity, "Quantity must between  1 and 10.", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(m => m.orderDetails[i].Toppings,
                                            new SelectList(ViewBag.Toppings, "ToppingName", "ToppingName"),
                                        new { @class = "form-control", @id = "Toppings", @onchange = "calculate();" })
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(m => m.orderDetails[i].CrustType,
                                            new SelectList(ViewBag.Crust, "CrustName", "CrustName"),
                                        new { @class = "form-control", @id = "CrustType" })
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Proceed" class="btn btn-primary moving-down" />
            <input type="button" value="Back to Menu" class="btn btn-danger moving-down" onclick="location.href='@Url.Action("Index", "Pizza")'" />
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script>
    $(document).ready(function () {
        calculate();
    });
    
    function calculate() {
        var amount = 0;
        $("tr").each(function (i,el) {
            if (i != 0)
            {
                var qty = $(el).find('input[id=Quantity]').val();
                var price = $(el).find('input[id=Price]').val();
                var total = eval(qty) * eval(price);
                var toppings = $(el).find('select[id=Toppings]').val();
                if (toppings != "None") {
                    var topping = eval(qty) * 30;
                    total += topping;
                }
                amount += total;
            }        
        });
        $("input[id=Amount]")[0].value = $("input[id=Amount]")[1].value = amount;
    }
</script>


